.App {
  text-align: center;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 8rem;
}
